<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="testBean" class="example.TestBean">
        <constructor-arg value="Hello world"/>
    </bean>
    <bean id="configuration" class="example.Configuration">
        <constructor-arg value="This is configuration"/>
    </bean>
    <bean id="sessionFactory" class="example.SessionFactory">
        <constructor-arg ref="configuration"/>
    </bean>
    <bean id="userDAO" class="example.UserDAO">
        <constructor-arg ref="sessionFactory"/>
    </bean>
    <bean id="userService" class="example.UserService">
        <constructor-arg ref="userDAO"/>
    </bean>

</beans>

